@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}

.brand-name {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li  {
    margin: 0 10px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}